---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import mobileBg from "../../assets/destination/background-destination-mobile.jpg";
import tabletBg from "../../assets/destination/background-destination-tablet.jpg";
import desktopBg from "../../assets/destination/background-destination-desktop.jpg";
import { planetsData } from "../../constants";

export function getStaticPaths() {
  return planetsData.map((planet) => {
    return {
      params: { destination: planet.name },
      props: planet,
    };
  });
}

const { destination } = Astro.params;
const { name, description, distance, travelTime, image } = Astro.props;

const links = planetsData.map((planet) => ({
  name: planet.name,
  href: `/destination/${planet.name}`,
}));

const pageTitle = "Destination";
---

<BaseLayout pageTitle={pageTitle}>
  <picture>
    <source srcset={desktopBg.src} media="(min-width: 768px)" />
    <source srcset={tabletBg.src} media="(min-width: 640px)" />
    <img
      src={mobileBg.src}
      alt="outer space"
      class="fixed inset-0 w-full h-full object-cover -z-10"
      fetchpriority="high"
    />
  </picture>
  <Header />
  <main class="md:max-w-3/4 mx-auto p-6 sm:p-10 text-white">
    <h1
      class="mb-10 md:mb-20 text-center sm:text-left sm:text-xl md:text-3xl font-barlow-condensed tracking-[2px] uppercase"
    >
      <span class="mr-4 text-blue-100/50 font-bold" aria-hidden="true">01</span
      >Pick your destination
    </h1>
    <div class="flex flex-col md:flex-row items-center gap-12">
      <div class="flex-1">
        <img
          src={image.src}
          class="w-[150px] sm:w-[300px] md:w-[480px]"
          alt={destination}
        />
      </div>
      <div class="flex flex-1 flex-col items-center md:items-start">
        <ul
          class="flex gap-6 md:gap-9 md:mb-6 font-barlow-condensed tracking-[2px] uppercase text-blue-100"
        >
          {
            links.map((link) => {
              const isActive =
                link.name.toLowerCase() === destination.toLowerCase();
              return (
                <li
                  class={`${isActive ? "border-b-2 border-white" : ""} pb-2 hover:border-b-2 hover:border-white/40`}
                >
                  <a
                    href={link.href}
                    aria-current={isActive ? "page" : undefined}
                  >
                    {link.name}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <article class="text-center md:text-left">
          <h1
            data-name={name}
            class="my-6 text-6xl sm:text-7xl md:text-8xl font-bellefair uppercase"
          >
            {name}
          </h1>
          <p
            class="mb-10 text-base/7 md:text-lg/8 font-barlow text-blue-100 text-balance"
          >
            {description}
          </p>
          <div
            class="mt-6 md:mt-10 pt-6 grid gap-6 grid-cols-1 sm:grid-cols-2 border-t border-blue-100/50"
          >
            <div>
              <h3
                class="mb-3 text-sm font-barlow-condensed tracking-[2px] uppercase text-blue-100"
              >
                Avg. distance
              </h3>
              <p class="text-[28px] font-bellefair uppercase">{distance}</p>
            </div>
            <div>
              <h3
                class="mb-3 text-sm font-barlow-condensed tracking-[2px] uppercase text-blue-100"
              >
                Est. travel time
              </h3>
              <p class="text-[28px] font-bellefair uppercase">{travelTime}</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>
</BaseLayout>
